# PySpark Dataframe
# Reading the dataset
# Checking the datatypes of dataframe column
# Selecting column and Indexing
# Check describe option and similar to pandas
# Adding columns
# Droping columns

In [2]:
pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 67kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 15.5MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=d4d2d5813ab9f49d834d62a7f081232b703b27b64ec07308c6a698eb72b66d15
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise-two').getOrCreate()
spark

In [8]:
spark_df = spark.read.option('header','true').csv('/content/pysparkTwo.csv', inferSchema=True)
spark_df

DataFrame[Name: string, Age: int, Exp: int]

In [9]:
spark_df.show()

+-------+---+---+
|   Name|Age|Exp|
+-------+---+---+
|Saurabh| 26|  3|
|Shabnam| 23|  1|
|  Anjan| 30| 10|
+-------+---+---+

In [10]:
spark_df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Exp: integer (nullable = true)

In [11]:
# Reading the csv file again
spark_df = spark.read.csv('/content/pysparkTwo.csv', header=True, inferSchema=True)
spark_df.show()

+-------+---+---+
|   Name|Age|Exp|
+-------+---+---+
|Saurabh| 26|  3|
|Shabnam| 23|  1|
|  Anjan| 30| 10|
+-------+---+---+

In [12]:
type(spark_df)

pyspark.sql.dataframe.DataFrame

In [13]:
#selecting the column
spark_df.select('Name').show()

+-------+
|   Name|
+-------+
|Saurabh|
|Shabnam|
|  Anjan|
+-------+

In [14]:
#Selecting the two column
spark_df.select(['Name','Exp']).show()

+-------+---+
|   Name|Exp|
+-------+---+
|Saurabh|  3|
|Shabnam|  1|
|  Anjan| 10|
+-------+---+

In [17]:
#column type
spark_df.dtypes

[('Name', 'string'), ('Age', 'int'), ('Exp', 'int')]

In [19]:
#Describe spark dataframe
spark_df.describe().show()

+-------+-------+------------------+-----------------+
|summary|   Name|               Age|              Exp|
+-------+-------+------------------+-----------------+
|  count|      3|                 3|                3|
|   mean|   null|26.333333333333332|4.666666666666667|
| stddev|   null|3.5118845842842465|4.725815626252609|
|    min|  Anjan|                23|                1|
|    max|Shabnam|                30|               10|
+-------+-------+------------------+-----------------+

In [25]:
#Add column in spark dataframe
spark_df = spark_df.withColumn('Exp After Two Year', spark_df['Exp']+2)
spark_df.show()

+-------+---+---+------------------+
|   Name|Age|Exp|Exp After Two Year|
+-------+---+---+------------------+
|Saurabh| 26|  3|                 5|
|Shabnam| 23|  1|                 3|
|  Anjan| 30| 10|                12|
+-------+---+---+------------------+

In [30]:
#Drop the column
spark_df = spark_df.drop('Exp After Two Year')

In [31]:
spark_df.show()

+-------+---+---+
|   Name|Age|Exp|
+-------+---+---+
|Saurabh| 26|  3|
|Shabnam| 23|  1|
|  Anjan| 30| 10|
+-------+---+---+

In [32]:
#Rename the column
spark_df.withColumnRenamed('Exp', 'Experience').show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Saurabh| 26|         3|
|Shabnam| 23|         1|
|  Anjan| 30|        10|
+-------+---+----------+