In [4]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 62kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 16.5MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=6f02584d3c139a8e0afd9b2b4ade9be6b30f3ac879521689d8288256e87ba17a
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [5]:
import pandas as pd

In [6]:
#Reading using pandas
pandas_df = pd.read_csv('/content/pysparkOne.csv')
pandas_df

      Name  Age
0  Saurabh   26
1  Shabnam   23
2    Anjan   30

In [7]:
#Always run PySpark Session before going to work with PySpark
from pyspark.sql import SparkSession 
spark = SparkSession.builder.appName('Practise').getOrCreate()
spark

In [8]:
 pyspark_df = spark.read.csv('/content/pysparkOne.csv')
 pyspark_df

DataFrame[_c0: string, _c1: string]

In [9]:
pyspark_df.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   Name|Age|
|Saurabh| 26|
|Shabnam| 23|
|  Anjan| 30|
+-------+---+

In [22]:
pyspark_df = spark.read.option('header','true').csv('/content/pysparkOne.csv').show()
pyspark_df

+-------+---+
|   Name|Age|
+-------+---+
|Saurabh| 26|
|Shabnam| 23|
|  Anjan| 30|
+-------+---+