# PySpark Dataframe
# Reading the dataset
# Checking the datatypes of dataframe column
# Selecting column and Indexing
# Check describe option and similar to pandas
# Adding columns
# Droping columns

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.1.1)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9)

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise-two').getOrCreate()
spark

In [ ]:
spark_df = spark.read.option('header','true').csv('/content/pysparkTwo.csv', inferSchema=True)
spark_df

DataFrame[Name: string, Age: int, Exp: int]

In [ ]:
spark_df.show()

+-------+---+---+
|   Name|Age|Exp|
+-------+---+---+
|Saurabh| 26|  3|
|Shabnam| 23|  1|
|  Anjan| 30| 10|
+-------+---+---+

In [ ]:
spark_df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Exp: integer (nullable = true)

In [ ]:
# Reading the csv file again
spark_df = spark.read.csv('/content/pysparkTwo.csv', header=True, inferSchema=True)
spark_df.show()

+-------+---+---+
|   Name|Age|Exp|
+-------+---+---+
|Saurabh| 26|  3|
|Shabnam| 23|  1|
|  Anjan| 30| 10|
+-------+---+---+

In [ ]:
type(spark_df)

pyspark.sql.dataframe.DataFrame

In [ ]:
#selecting the column
spark_df.select('Name').show()

+-------+
|   Name|
+-------+
|Saurabh|
|Shabnam|
|  Anjan|
+-------+

In [ ]:
#Selecting the two column
spark_df.select(['Name','Exp']).show()

+-------+---+
|   Name|Exp|
+-------+---+
|Saurabh|  3|
|Shabnam|  1|
|  Anjan| 10|
+-------+---+

In [ ]:
#column type
spark_df.dtypes

[('Name', 'string'), ('Age', 'int'), ('Exp', 'int')]

In [ ]:
#Describe spark dataframe
spark_df.describe().show()

+-------+-------+------------------+-----------------+
|summary|   Name|               Age|              Exp|
+-------+-------+------------------+-----------------+
|  count|      3|                 3|                3|
|   mean|   null|26.333333333333332|4.666666666666667|
| stddev|   null|3.5118845842842465|4.725815626252609|
|    min|  Anjan|                23|                1|
|    max|Shabnam|                30|               10|
+-------+-------+------------------+-----------------+

In [ ]:
#Add column in spark dataframe
spark_df = spark_df.withColumn('Exp After Two Year', spark_df['Exp']+2)
spark_df.show()

+-------+---+---+------------------+
|   Name|Age|Exp|Exp After Two Year|
+-------+---+---+------------------+
|Saurabh| 26|  3|                 5|
|Shabnam| 23|  1|                 3|
|  Anjan| 30| 10|                12|
+-------+---+---+------------------+

In [ ]:
#Drop the column
spark_df = spark_df.drop('Exp After Two Year')

In [ ]:
spark_df.show()

+-------+---+---+
|   Name|Age|Exp|
+-------+---+---+
|Saurabh| 26|  3|
|Shabnam| 23|  1|
|  Anjan| 30| 10|
+-------+---+---+

In [ ]:
#Rename the column
spark_df.withColumnRenamed('Exp', 'Experience').show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Saurabh| 26|         3|
|Shabnam| 23|         1|
|  Anjan| 30|        10|
+-------+---+----------+

In [ ]:
spark_df.schema

StructType(List(StructField(Name,StringType,true),StructField(Age,IntegerType,true),StructField(Exp,IntegerType,true)))

In [ ]:
spark_df.dtypes

[('Name', 'string'), ('Age', 'int'), ('Exp', 'int')]

In [ ]:
spark_df.head(5)

[Row(Name='Saurabh', Age=26, Exp=3),
 Row(Name='Shabnam', Age=23, Exp=1),
 Row(Name='Anjan', Age=30, Exp=10)]

In [ ]:
spark_df.first()

Row(Name='Saurabh', Age=26, Exp=3)

In [ ]:
spark_df.columns

['Name', 'Age', 'Exp']

In [ ]:
spark_df.count()

3

In [ ]:
spark_df.show()

+-------+---+---+
|   Name|Age|Exp|
+-------+---+---+
|Saurabh| 26|  3|
|Shabnam| 23|  1|
|  Anjan| 30| 10|
+-------+---+---+

In [ ]:
spark_df = spark_df.withColumn('New Age', spark_df.Age*2)
spark_df.show(5)

+-------+---+---+----+-------+
|   Name|Age|Exp|date|New Age|
+-------+---+---+----+-------+
|Saurabh| 26|  3|  52|     52|
|Shabnam| 23|  1|  46|     46|
|  Anjan| 30| 10|  60|     60|
+-------+---+---+----+-------+

In [ ]:
spark_df = spark_df.withColumnRenamed('Name', 'New Name')
spark_df.show(5)

+--------+---+---+--------+-------+
|New Name|Age|Exp|New Name|New Age|
+--------+---+---+--------+-------+
| Saurabh| 26|  3|      52|     52|
| Shabnam| 23|  1|      46|     46|
|   Anjan| 30| 10|      60|     60|
+--------+---+---+--------+-------+

In [ ]:
spark_df = spark_df.drop('New Age')
spark_df.show(5)

+--------+---+---+--------+
|New Name|Age|Exp|New Name|
+--------+---+---+--------+
| Saurabh| 26|  3|      52|
| Shabnam| 23|  1|      46|
|   Anjan| 30| 10|      60|
+--------+---+---+--------+

In [ ]:
from pyspark.sql.functions import col, lit
spark_df.filter( (col('Age') >= lit(25)) & (col('Age') <= lit(30)) ).show(5)

+--------+---+---+--------+
|New Name|Age|Exp|New Name|
+--------+---+---+--------+
| Saurabh| 26|  3|      52|
|   Anjan| 30| 10|      60|
+--------+---+---+--------+

In [ ]:
## fetch the data where the Age value is between 25 and 30
spark_df.filter(spark_df.Age.between(25, 30)).show()

+--------+---+---+--------+
|New Name|Age|Exp|New Name|
+--------+---+---+--------+
| Saurabh| 26|  3|      52|
|   Anjan| 30| 10|      60|
+--------+---+---+--------+

In [ ]:
from pyspark.sql.functions import when
spark_df.select('Age', 'Exp', when(spark_df.Exp >= 5, 1).otherwise(0)).show(5)

+---+---+--------------------------------------+
|Age|Exp|CASE WHEN (Exp >= 5) THEN 1 ELSE 0 END|
+---+---+--------------------------------------+
| 26|  3|                                     0|
| 23|  1|                                     0|
| 30| 10|                                     1|
+---+---+--------------------------------------+

In [ ]:
spark_df.select('Name', spark_df['Name'].rlike('^[S, C]').alias('Name Starting with B or C')).distinct().show()

+-------+-------------------------+
|   Name|Name Starting with B or C|
+-------+-------------------------+
|Saurabh|                     true|
|Shabnam|                     true|
|  Anjan|                    false|
+-------+-------------------------+